Source: pyilper
Section: kde
Priority: optional
Maintainer: Joachim Siebold <bug400@gmx.de>
Build-Depends: debhelper (>= 9), python3 (>=3.5), python3-pyqt5, python3-serial
Standards-Version: 3.9.2

Package: pyilper
Architecture: all
Depends: ${misc:Depends}, python3 (>=3.5), python3-pyqt5, python3-serial
Description: pyILPER
 This package contains an utility to emulate HPIL-Devices (2 disk drives, printer, terminal, scope) for the PIL-BOX
