[Desktop Entry]
Name=pyILPER
Comment=Virtual HP-IL devices for PIL-BOX
Exec=pyilper
Icon=hpil
GenericName=Virtual HP-IL devices
GenericName[de]=Virtuelle HP-IL Geräte
Terminal=false
Type=Application
Categories=Qt;Utility;
